Importing Libaraies

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Importing Dataset

In [5]:
data= pd.read_csv('/content/hotel_bookings.csv')

In [6]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03

In [7]:
data.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
51385,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51386,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51387,City Hotel,1,28,2016,May,21,19,0,2,1,...,No Deposit,NaN,174.0,0,Transient-Party,95.0,0.0,0.0,Canceled,2016-05-04
51388,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51389,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,NaN,NaN,NaN,NaN

Analyising and Cleaning the Data

In [8]:
data.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0.0,0.0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0.0,1.0,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0.0,1.0,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0.0,0.0,Canceled,2015-04-22

In [9]:
data.tail(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
51380,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51381,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51382,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51383,City Hotel,1,28,2016,May,21,19,0,2,2,...,No Deposit,NaN,174.0,0,Transient-Party,100.0,0.0,0.0,Canceled,2016-05-18
51384,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51385,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51386,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51387,City Hotel,1,28,2016,May,21,19,0,2,1,...,No Deposit,NaN,174.0,0,Transient-Party,95.0,0.0,0.0,Canceled,2016-05-04
51388,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51389,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,NaN,NaN,NaN,NaN

In [10]:
data.shape

(51390, 32)